<div class ="login" ng-controller ='loginCtrl'>

  <form name="loginForm" ng-controller ='loginCtrl' novalidate ng-submit ='login(logUser)'>
    <h3>Login:</h3>
    <div class="row">
      <div class = "col s3">
        <label>Username:</label>
        <input type="text" ng-model ='logUser.username'>
      </div>
    </div>
    <div class="row">
      <div class ="col s3">
        <label>Password:</label>
        <input type="password" ng-model ='logUser.password'>
      </div>

    </div>
    <button>Login!</button>

  </form>

<a ui-sref="register">Register for an Account</a>

</div>