<div ng-controller ='registerCtrl'>
  <form name="registrationForm"  novalidate ng-submit ='register(regUser)'>
    <h3>Register:</h3>
    <div class="row">
      <div class="col s6">
        <div class="row">
          <div class = "col s12">
            <label>Name:</label>
            <input type="text" ng-model ='regUser.fullname'>

          </div>
        </div>
        <div class="row">

          <div class = "col s12">
            <label>Image:</label>
            <input type="text" ng-model ='regUser.image'>

          </div>
        </div>
        <div class="row">
          <div class = "col s12">
            <label>About:</label>
            <input type="text" ng-model ='regUser.about'>
          </div>
        </div>
        <div class="row">

          <div class = "col s12">
            <label>Username:</label>
            <input type="text" ng-model ='regUser.username'>

          </div>
        </div>
        <div class="row">
          <div class = "col s12">
            <label>Password:</label>
            <input type="password" ng-model ='regUser.password'>

          </div>

        </div>
      </div>
      <div class="col s6">
        <img class="responsive-img" ng-src="{{regUser.image}}">
      </div>
    </div>
    
    <button>Register!</button>
  </form>
  
  <a sref="login"></a>

</div>